footer {
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 4px rgb(0 0 0 / 0.1);
  padding: 12px 20px;
  text-align: center;
  align-content: center ;
  font-size: 0.9rem;
  color: #555;
  background-color: #f9f9f9;
}
