<!-- Sidebar -->
<div class="sidebar" [class.open]="sidebarOpen">
  <ul class="nav flex-column p-3">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/para-currency-rate" routerLinkActive="active">Tỷ giá</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">Người dùng</a>
    </li>
    <li class="nav-item">
      <button class="btn btn-outline-danger w-100 mt-3" (click)="logout()">
        <i class="bi bi-box-arrow-right me-2"></i> Đăng xuất
      </button>
    </li>
  </ul>
</div>